.container {
    width: 100%;
    height: 100%;
    background-color: antiquewhite;
}

.design1 {

    color: brown;
}

.design2 {
    background-color: lightslategray;
    color: white;
    font-weight: bold;
    width: 100%;
    padding: 16px 16px;
    margin: 8px 0px;
    box-sizing: border-box;
    border-radius: 10px;
    cursor: pointer;

}